* {box-sizing: border-box;}

body {
	font-family: "IBM Plex Sans", sans-serif;
}

h1 {
	margin-bottom: 1em;
	font-family: "IBM Plex Sans Condensed", sans-serif;
	font-size: 1.625em;
	font-weight: 400;
}

a {
	border-bottom: 1px dotted currentColor;
	color: currentColor;
	text-decoration: none;
}

a:hover {
	color: #039447;
}



/* layout */

#stackedbar svg {
	background: #eee;
}

#legend,
#axis {
}

.intro {
	margin: 2em auto;
	padding: 0 170px;
	width: 1100px;
}

.cartogram, 
.legend {
	margin: 0 auto;
	padding: 0 170px;
	width: 1100px;
}

.footer {
	margin: 5em auto;
	padding: 0 170px;
	font-family: "IBM Plex Sans Condensed", sans-serif;
	font-size: 0.875em;
	width: 1100px;
	color: #aaaaaa;
}



/* category options */

.category-options {
	display: flex;
	flex-direction: row;
}

.option {
	font-family: "IBM Plex Sans Condensed", sans-serif; /* todo: font imports */
	font-size: 0.875em;
	text-transform: uppercase;
	user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

.option input {
	position: relative;
	cursor: pointer;
}

.option input::after {
	content: "";
	position: absolute;
	top: -0.25em;
	left: -0.25em;
	display: block;
	width: 1.5em;
	height: 1.5em;
	background: #bbbbbb;
	pointer-events: none;
}

input:checked.option-authoritarian::after {background: #be202e;}
input:checked.option-hybridregime::after {background: #ce9a2b;}
input:checked.option-flaweddemocracy::after {background: #76ac42;}
input:checked.option-fulldemocracy::after {background: #039447;}

.option + .option {
	margin-left: 1em;
}

.option input + label {
	margin-left: 0.25em;
}



/* cartogram */

.cartogram-label {
	font-family: "IBM Plex Sans Condensed", sans-serif; /* todo: font imports */
	font-size: 0.8125em;
	text-transform: uppercase;
	fill: #aaaaaa;
}
