* {box-sizing: border-box;}

body {
	font-family: "IBM Plex Sans", sans-serif;
}

h1 {
	margin-bottom: 1em;
	font-family: "IBM Plex Sans Condensed", sans-serif;
	font-size: 1.625em;
	font-weight: 400;
}

h4 {
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}

a {
	border-bottom: 1px dotted currentColor;
	color: currentColor;
	text-decoration: none;
}

a:hover {
	color: #039447;
}



/* layout */

.intro {
	margin: 2em auto;
	padding: 0 170px;
	width: 1100px;
}

.cartogram, 
.legend {
	margin: 0 auto;
	padding: 0 170px;
	width: 1100px;
}

.footer {
	margin: 5em auto;
	padding: 0 170px;
	font-family: "IBM Plex Sans Condensed", sans-serif;
	font-size: 0.875em;
	width: 1100px;
	color: #aaaaaa;
}



/* category options */

.category-options {
	display: flex;
	flex-direction: row;
}

.option {
	font-family: "IBM Plex Sans Condensed", sans-serif; /* todo: font imports */
	font-size: 12px;
	line-height: 1em;
	text-transform: uppercase;
	user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

.option input {
	position: relative;
	cursor: pointer;
}

.option input::after {
	content: "";
	position: absolute;
	top: -0.25em;
	left: -0.25em;
	display: block;
	width: 16px;
	height: 16px;
	background: #bbbbbb;
	pointer-events: none;
}

input:checked.option-authoritarian::after {background: #be202e;}
input:checked.option-hybridregime::after {background: #ce9a2b;}
input:checked.option-flaweddemocracy::after {background: #76ac42;}
input:checked.option-fulldemocracy::after {background: #039447;}

.option + .option {
	margin-left: 1em;
}

.option input + label {
	margin-left: 0.25em;
}



/* legend */

.legend {
	position: relative;
}

.legend .axis-toggle {
	position: absolute;
	top: 0;
	left: 140px;
	font-size: 12px;
	line-height: 1em;
	z-index: +9;
}

.legend .axis-toggle input {
	position: relative;
	cursor: pointer;
}

.legend .axis-toggle input::after{
	box-sizing: border-box;
	content: "";
	position: absolute;
	top: -0.25em;
	left: -0.25em;
	display: block;
	border-top: 8px solid #000000;
	border-right: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #000000;
	width: 16px;
	height: 16px;
	background: #bbbbbb;
	pointer-events: none;
}

.legend .axis-toggle input:checked:after{
	border-top: 8px solid transparent;
	border-right: 8px solid #000000;
	border-bottom: 8px solid #000000;
	border-left: 8px solid transparent;
}



/* cartogram */

.cartogram-label {
	font-family: "IBM Plex Sans Condensed", sans-serif; /* todo: font imports */
	font-size: 12px;
	text-transform: uppercase;
	fill: #aaaaaa;
}



/* stacked bar */

.stackedbar {
	background: pink;
}

.stackedbar text {
	font-family: "IBM Plex Sans Condensed", sans-serif; /* todo: font imports */
	font-size: 12px;
	text-transform: uppercase;
}




