* { box-sizing: border-box; }

body {
	font-family: "IBM Plex Sans", sans-serif;
}

h1 {
	margin-bottom: 1em;
	font-family: "IBM Plex Sans Condensed", sans-serif;
	font-size: 1.625em;
	font-weight: 400;
}

h4 {
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}

a {
	border-bottom: 1px solid currentColor;
	color: currentColor;
	text-decoration: none;
}

a:hover {
	color: #039447;
}

p {
-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}



/* layout ------------------------------------ */

.intro {
	margin: 2em auto;
	padding: 0 170px;
	width: 1100px;
}

.cartogram,
.legend {
	margin: 0 auto;
	padding: 12px 170px;
	width: 1100px;
}

.stackedbar {
	margin: 0 auto;
	padding: 0;
	width: 1100px;
}

.footer {
	margin: 5em auto;
	padding: 0 170px;
	font-family: "IBM Plex Sans Condensed", sans-serif;
	font-size: 0.75em;
	width: 1100px;
	color: #aaaaaa;
}

.footer h4 {
	text-transform: none;
}

.column {
	width: 472px;
}

.column aside {
	margin-top: -0.75em;
	margin-right: -288px;
	float: right;
}



/* category options -------------------------- */

.category-options {
	display: flex;
	flex-direction: row;
}

.option {
	font-family: "IBM Plex Sans Condensed", sans-serif; /* todo: font imports */
	font-size: 12px;
	line-height: 1em;
	text-transform: uppercase;
	user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

.option input {
	position: relative;
	cursor: pointer;
}

.option input::after {
	content: "";
	position: absolute;
	top: -0.25em;
	left: -0.25em;
	display: block;
	width: 16px;
	height: 16px;
	background: #bbbbbb;
	pointer-events: none;
}

input:checked.option-authoritarian::after {background: #be202e;}
input:checked.option-hybridregime::after {background: #ce9a2b;}
input:checked.option-flaweddemocracy::after {background: #76ac42;}
input:checked.option-fulldemocracy::after {background: #039447;}

.option + .option {
	margin-left: 1em;
}

.option input + label {
	margin-left: 0.25em;
}



/* legend ------------------------------------ */

.legend {
	position: relative;
}

.legend .axis-toggle {
	position: absolute;
	top: 0;
	left: 140px;

	padding: 12px 0;
	font-size: 12px;
	line-height: 1em;
	z-index: +9;
}

.legend .axis-toggle input {
	position: relative;
	cursor: pointer;
}

.legend .axis-toggle input::after{
	box-sizing: border-box;
	content: "";
	position: absolute;
	top: -0.25em;
	left: -0.25em;
	display: block;
	border-top: 8px solid #000000;
	border-right: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #000000;
	width: 16px;
	height: 16px;
	background: #bbbbbb;
	pointer-events: none;
}

.legend .axis-toggle input:checked:after{
	border-top: 8px solid transparent;
	border-right: 8px solid #000000;
	border-bottom: 8px solid #000000;
	border-left: 8px solid transparent;
}



/* cartogram --------------------------------- */

.cartogram-label {
	font-family: "IBM Plex Sans Condensed", sans-serif; /* todo: font imports */
	font-size: 16px;
	text-transform: uppercase;
	fill: #aaaaaa;
}



/* stacked bar ------------------------------- */

.stackedbar text {
	font-family: "IBM Plex Sans Condensed", sans-serif; /* todo: font imports */
	font-size: 12px;
	text-transform: uppercase;
}

.tick line {
	stroke: #bbbbbb;
}



/* religion menu ----------------------------- */

.ui-menu {
  position: relative;
	margin: 12px 0;
  width: 240px;
  overflow: hidden;
  background: #FFFFFF;
}

.ui-menu::after {
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  right: 9px;
  box-sizing: border-box;
  border-top: 0.5em solid #aaaaaa;
  border-right: 0.5em solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 0.5em solid transparent;
  width: 1em;
  height: 1em;
  z-index: +9;
  pointer-events: none;
}

.ui-menu select {
  padding: 2px 4px;
  width: 100%;
  border: 1px solid #aaaaaa;
	border-radius: 0;
  box-shadow: none;
	font-size: 12px;
	text-transform: uppercase;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.ui-menu select:focus {
  outline: none;
}

.ui-menu select option {
  font-size: 16px;
	text-transform: none;
}



/* index table ------------------------------- */

.index-explorer {
  width: 240px;
}

.index-menu .ui-menu {
 margin: 0;
}

.index-table {
	border-collapse: collapse;
  width: 240px;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
}

.index-table td:first-child {
	width: 42px;
}

.index-table td[colspan="2"] {
	text-transform: uppercase;
	color: #ffffff;
	background-color: #aaaaaa;
}

.index-table th,
.index-table td {
	padding: 2px 4px;
	font-size: 12px;
	line-height: 1.4em;
	vertical-align: top;
	border-bottom: 1px solid #aaa;
}

.index-table th {
	text-align: left
}



/* tooltip ----------------------------------- */

.tooltip {
  position: absolute;
  padding: 4px;
  font-size: 0.75em;
	text-transform: uppercase;
  background: #EEEEEE;
  z-index: +9;
}

